.category-page {
  display:flex;
  flex-direction: column;
  align-items: left;
  background-color: white;
}

.category-content {
  display:flex;
  align-items: center;
}

.category-list {
  display:flex;
  flex-direction: column;
  align-items: center;
  text-align: center; 
  margin-left: 20px;
}

.category-buttons {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-color: var(--neutral-color);
}

.category-title {
  color:var(--primary-color-light);
  font-size: 20px;
}

.button.selected-category-button {
  background-color: var(--primary-color-light);
  color:white;
  border-radius: 50px;
}

.button.unselected-category-button,
.button.unselected-category-button:visited {
  background-color: var(--neutral-color);
  border-radius: 50px;
}

.button.unselected-category-button:hover,
.button.unselected-category-button:active {
  background-color: var(--primary-color);
}


.category-nav {
  display: flex; 
  flex-direction: column; 
  align-items: center;
}



