.home-page {
  display: flex;
}

.shop-now {
  width:100%;
  height:20vh;
  background:#faf6ed;
  display:flex;
  justify-content: center;
  align-items: center;
}

.shop-now a img {
  height:170px;
  width:auto;
  padding:0px 10px;
}

.shop-now a:first-child img {
  margin-left: 120px;
}

.shop-now-right {
  display:flex;
  flex-direction:column;
  align-items: center;
  text-align: center;
}

.shop-now-right h3 {
  margin-top:20px;
  margin-left:50px;
}

.button.shop-now-button {
  margin-left: 60px;
  margin-top:10px;
  background-color: var(--primary-color);
  color: white;
  font-size: 54px;
  padding:15px 30px;
  border:none;
  cursor:pointer;
  border-radius: 15px;
  font-style: italic;
}

.button.shop-now-button:hover {
  background-color: #dfb1ec;
}

.best-seller {
  display:flex;
  align-items: center;
  background-color: white;
}

.best-seller-left {
  height:40vh;
  background-color: var(--primary-color-light);
  display:flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.best-seller-left h1 {
  color:white;
  margin-bottom: 10px;
  margin-top: 100px;
}

.best-seller-right button,
.button.buy-one-get-one {
  white-space: pre-line;
  background-color: #b40c0c;
  color:white;
  border-radius:50px;
}

.button.button.buy-one-get-one:hover {
  background-color: var(--primary-color-dark);
}

.best-seller-right {
  width:100%;
}
.best-seller-right ul#book-boxes {
  width:100%;
  list-style-type: none; /* 去除列表样式 */
  display: flex; /* 使用 Flexbox 布局 */
  justify-content: space-between; /* 均匀分布各个书籍 */
  flex-wrap: wrap; /* 防止换行，确保水平排列 */
  padding: 0 50px; /* 去除默认内边距 */
}

.best-seller-right li.book-box {
  width: calc(25% - 20px); /* 设置每个书籍卡片的宽度，可以根据需要调整 */
  text-align: center; /* 文本居中对齐 */
  display:flex;
  flex-direction:column;
  align-items:center;
}

.book-image {
  position:relative;
}

.button.read-now-button {
  font-size: 10px;
  position:absolute;
  top:0;
  right:0px;
  background-color:white;
  color:var(--primary-color);
  padding:5px 10px;
  border: none;
  border-radius: 50px;
}

.button:hover,
.button:active {
  background: var(--primary-color-dark);
  color: white;
}

.icon-read-now::before {
  content: "📖";
  margin-right: 5px;
  font-family: FontAwesome;
}

.book-title {
  font-weight: bold;
}

.book-author {
  font-style: italic;
}

